openapi: 3.0.3
info:
  title: Guest Permissions Control Plane API
  version: 1.0.0
  description: >
    API surface to trigger and inspect guest-permissions pipeline runs and query
    telemetry from Log Analytics.
servers:
  - url: https://management.azure.com
security:
  - azureAuth:
      - https://management.azure.com/user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/start:
    post:
      operationId: startGuestPermissionsPipelineRun
      summary: Start a guest-permissions pipeline run
      description: Triggers a new execution of a Container Apps Job.
      parameters:
        - $ref: "#/components/parameters/subscriptionId"
        - $ref: "#/components/parameters/resourceGroupName"
        - $ref: "#/components/parameters/jobName"
        - $ref: "#/components/parameters/apiVersionJobs"
      responses:
        "200":
          description: Pipeline run started.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionReference"
        "202":
          description: Accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionReference"
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/executions:
    get:
      operationId: listGuestPermissionsPipelineExecutions
      summary: List guest-permissions pipeline executions
      description: Returns the execution history for the Container Apps Job.
      parameters:
        - $ref: "#/components/parameters/subscriptionId"
        - $ref: "#/components/parameters/resourceGroupName"
        - $ref: "#/components/parameters/jobName"
        - $ref: "#/components/parameters/apiVersionJobs"
      responses:
        "200":
          description: Execution list returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionsResponse"
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/query:
    post:
      operationId: queryGuestPermissionsTelemetry
      summary: Run KQL query against pipeline telemetry
      description: Queries Log Analytics for PIPELINE_* rows and derived IAM summaries.
      parameters:
        - $ref: "#/components/parameters/subscriptionId"
        - $ref: "#/components/parameters/resourceGroupName"
        - $ref: "#/components/parameters/workspaceName"
        - $ref: "#/components/parameters/apiVersionWorkspaceQuery"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceQueryRequest"
      responses:
        "200":
          description: Query results returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceQueryResponse"
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{grafanaName}:
    get:
      operationId: getGrafanaWorkspaceEndpoint
      summary: Get Grafana workspace metadata
      description: Returns endpoint and metadata for Azure Managed Grafana workspace.
      parameters:
        - $ref: "#/components/parameters/subscriptionId"
        - $ref: "#/components/parameters/resourceGroupName"
        - $ref: "#/components/parameters/grafanaName"
        - $ref: "#/components/parameters/apiVersionGrafana"
      responses:
        "200":
          description: Grafana workspace details returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrafanaWorkspaceResponse"
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/checkAccess:
    post:
      operationId: checkGuestEffectiveAccess
      summary: Authoritatively check a guest's effective access for specific actions
      description: >
        Calls Azure's real-time Check Access decision engine to determine whether a
        specific guest principal is actually Allowed or Denied for specific control-plane
        or data-plane actions at a resource-group scope. Unlike pipeline telemetry (which
        only reports assigned RBAC roles), this reflects deny assignments, PIM activation
        state, and role precedence exactly as Azure enforces them right now.
      parameters:
        - $ref: "#/components/parameters/subscriptionId"
        - $ref: "#/components/parameters/resourceGroupName"
        - $ref: "#/components/parameters/apiVersionCheckAccess"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckAccessRequest"
      responses:
        "200":
          description: Effective access decision per requested action returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAccessResponse"
components:
  securitySchemes:
    azureAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://management.azure.com/user_impersonation: Sign in and call Azure Resource Manager APIs
  parameters:
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
      description: Azure subscription ID.
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
      description: Azure resource group name.
    jobName:
      name: jobName
      in: path
      required: true
      schema:
        type: string
      description: Container Apps Job name.
    workspaceName:
      name: workspaceName
      in: path
      required: true
      schema:
        type: string
      description: Log Analytics workspace name.
    grafanaName:
      name: grafanaName
      in: path
      required: true
      schema:
        type: string
      description: Azure Managed Grafana workspace name.
    apiVersionJobs:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: 2024-03-01
      description: ARM API version for Container Apps jobs.
    apiVersionWorkspaceQuery:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: 2017-10-01
      description: ARM API version for Log Analytics workspace query endpoint.
    apiVersionGrafana:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: 2025-08-01
      description: ARM API version for Grafana resource endpoint.
    apiVersionCheckAccess:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: 2018-09-01-preview
      description: ARM API version for the Microsoft.Authorization checkAccess endpoint.
  schemas:
    ExecutionReference:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    ExecutionsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              properties:
                type: object
                properties:
                  status:
                    type: string
                  startTime:
                    type: string
                    format: date-time
                  endTime:
                    type: string
                    format: date-time
    WorkspaceQueryRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: KQL query string.
        timespan:
          type: string
          description: Optional ISO8601 timespan (for example P7D).
    WorkspaceQueryResponse:
      type: object
      properties:
        tables:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              columns:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
              rows:
                type: array
                items:
                  type: array
                  items: {}
    GrafanaWorkspaceResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        location:
          type: string
        properties:
          type: object
          properties:
            endpoint:
              type: string
    CheckAccessRequest:
      type: object
      required:
        - Subject
        - Actions
      properties:
        Subject:
          type: object
          description: Identifies the guest principal to check access for.
          properties:
            Attributes:
              type: object
              properties:
                ObjectId:
                  type: string
                  description: The guest's Entra object ID (guestPrincipalId from telemetry).
        Actions:
          type: array
          description: The specific control-plane or data-plane actions to evaluate.
          items:
            type: object
            properties:
              Id:
                type: string
                description: "ARM action string, e.g. Microsoft.Network/networkWatchers/write"
              IsDataAction:
                type: boolean
                description: true for data-plane actions, false for control-plane actions.
    CheckAccessResponse:
      type: array
      items:
        type: object
        properties:
          actionId:
            type: string
          accessDecision:
            type: string
            description: "Allowed, Denied, or NotAllowed"
          isDataAction:
            type: boolean
          roleAssignment:
            type: object
            description: Present only when accessDecision is Allowed via an active role assignment.
            properties:
              roleDefinitionId:
                type: string
              principalId:
                type: string
              scope:
                type: string
          denyAssignment:
            type: object
            description: Present only when accessDecision is Denied due to a deny assignment.
            properties:
              name:
                type: string
              description:
                type: string
              scope:
                type: string
              principals:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
