CBA_APP_URL=https://replace-me.azurestaticapps.net/
CBA_APP_CLIENT_ID=00000000-0000-0000-0000-000000000000
CBA_TENANT_ID=00000000-0000-0000-0000-000000000000
CBA_TEST_USERNAME=cba-playwright-test@contoso.onmicrosoft.com
CBA_TEST_OBJECT_ID=00000000-0000-0000-0000-000000000000
CBA_PFX_PATH=C:\secure-path\cba-playwright-test.pfx
CBA_PFX_PASSPHRASE=replace-at-runtime
CBA_CERTAUTH_ORIGIN=https://certauth.login.microsoftonline.com
RUN_NEGATIVE_CBA_TESTS=false
